fblood-config/src/main/resources/META-INF/fblood.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://fblood.org/schema/fblood"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://fblood.org/schema/fblood">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:import namespace="http://www.springframework.org/schema/tool" />

    <xsd:annotation>
        <xsd:documentation><![CDATA[ Namespace support for the loom services provided by loom framework. ]]></xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="appType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a app. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="protocol" type="xsd:string" default="org.fblood.protocol.rmi.RmiProtocol">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ f ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="zookeeperType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="address" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The registry address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="timeout" type="xsd:int" use="optional" default="20000">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The request timeout. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="providerType">
        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="app" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The app Id. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The implementation class Id. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="port" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The service port. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="zookeeper" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The zookeeper ref. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="remoteInjectType">
        <xsd:attribute name="app" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The app Id. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="zookeeper" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The zookeeper ref. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="application" type="appType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The application config eg: <fblood:application name="product-serv" /> ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="zookeeper" type="zookeeperType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The registry config eg: <fblood:registry id="zk01" protocol="zookeeper" address="xxx,xxx,xxx" timeout="20000"/> ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="provider" type="providerType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export service config eg: <fblood:service version="1.0" owner="panda" registry="zk01"/> ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="remoteInject" type="remoteInjectType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export service config eg: <fblood:service owner="panda" registry="zk01"/> ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>